# Diamond Company Analytics Challenge

**Time:** 35 minutes

**Scenario:** You are the new data analyst at a prestigious diamond company. The CEO has called an urgent meeting and needs answers to critical business questions about the inventory.

**Your Mission:** Analyze the diamond inventory data and provide insights to guide strategic decisions.

In [1]:
import polars as pl

# Load the diamonds dataset
print("Loading diamonds dataset...")
df = pl.read_csv('https://raw.githubusercontent.com/pycaret/pycaret/master/datasets/diamond.csv')
print("Dataset loaded successfully!")

Loading diamonds dataset...
Dataset loaded successfully!

## Section 1: Initial Inventory Assessment (5 minutes)

The CEO walks in: "Before we dive into specifics, I need to understand what we're working with. Give me the basics about our inventory database."

### Question 1: "How extensive is our inventory database?"

The CEO needs to know the scale of data you're analyzing.

In [2]:
# Your code here:
print(f"There are {len(df)} diamonds")

There are 6000 diamonds

### Question 2: "What information do we track about each diamond?"

List all the characteristics we record.

In [3]:
# Your code here:
print(f"the information we are tracking are the {df.columns} of each diamond")

the information we are tracking are the ['Carat Weight', 'Cut', 'Color', 'Clarity', 'Polish', 'Symmetry', 'Report', 'Price'] of each diamond

### Question 3: "When I look at one line in this database, what am I looking at?"

Explain in business terms:

**Your answer:** Each row represents: One singular diamond in inventory

## Section 2: Strategic Business Questions (20 minutes)

The CEO continues: "Now let's get to the important questions. Our board meeting is tomorrow and I need concrete numbers."

### Question 4: "We're considering expanding our storage facilities. How many total carats do we have in inventory? I need to know if our vaults can handle the weight."

Think about what measurement would help answer this.

In [4]:
# Your code here:
#we need to find the sum() of all the diamonds in inventory

total_weight = df.select(pl.col("Carat Weight").sum()).item()
print(f"Total weight of all diamonds in inventory: {total_weight:,.2f} carat")

Total weight of all diamonds in inventory: 8,007.12 carat

### Question 5: "Our new marketing campaign claims we have 'the widest variety of cuts in the industry.' Can you verify this?"

The CEO wants to know about variety, not quantity.

In [9]:
# Your code here:

## Need info on cuts - agg/group_by


unique_cut = df.select(pl.col("Cut").n_unique()).item()
print(f"Number of unique cuts: {unique_cut}")

print(f"The unique cuts are: {df.select(pl.col('Cut').unique()).to_numpy().flatten().tolist()}")

Number of unique cuts: 5
The unique cuts are: ['Fair', 'Good', 'Very Good', 'Signature-Ideal', 'Ideal']

### Question 6: "I'm meeting with our insurance company. They need to know our price exposure - what's our most and least valuable diamond?"

In [10]:
# Your code here:

##min(), Max()

min_price = df.select(pl.col("Price")).min().item()
max_price = df.select(pl.col("Price")).max().item()

print(f"The most valuable diamond is worth: ${max_price:,.2f}")
print(f"The least valuable diamond is worth: ${min_price:,.2f}")

The most valuable diamond is worth: $101,561.00
The least valuable diamond is worth: $2,184.00

### Question 7: "Which color grades should we focus on in our premium line? I need typical prices across our color spectrum."

The CEO wants to understand pricing patterns.

In [11]:
# Your code here:

#avg price of color - group by. agg.

result = df.group_by("Color").agg(
    pl.col("Price").mean().alias("avg_price"),
    pl.len().alias("count")
).sort("avg_price", descending=True)

print(f"Number of rows: {len(result)}")
result

Number of rows: 6

shape: (6, 3)
┌───────┬──────────────┬───────┐
│ Color ┆ avg_price    ┆ count │
│ ---   ┆ ---          ┆ ---   │
│ str   ┆ f64          ┆ u32   │
╞═══════╪══════════════╪═══════╡
│ D     ┆ 15255.783661 ┆ 661   │
│ F     ┆ 12712.241856 ┆ 1013  │
│ G     ┆ 12520.050633 ┆ 1501  │
│ E     ┆ 11539.190231 ┆ 778   │
│ H     ┆ 10487.347544 ┆ 1079  │
│ I     ┆ 8989.636364  ┆ 968   │
└───────┴──────────────┴───────┘

**Reflection:** After analyzing by color, how has your view of the data changed? What does each row in your result represent now?

**Your answer:** New grain =

## Section 3: Advanced Strategic Analysis (10 minutes)

The CEO leans forward: "These next questions will shape our strategy for next year."

### Question 8: "We're thinking of specializing in certain clarity grades. For our investor deck, I need a complete breakdown showing: how many diamonds we have in each clarity grade, their typical price, and the total carats we're holding for each grade."

In [12]:
# Your code here:

result3 = df.group_by("Clarity").agg(
    pl.col("Price").mean().alias("avg_price"),
    pl.len().alias("count"),
    pl.col("Carat Weight").sum().alias("total_weight")
).sort("Clarity", descending=True)

result3

shape: (7, 4)
┌─────────┬──────────────┬───────┬──────────────┐
│ Clarity ┆ avg_price    ┆ count ┆ total_weight │
│ ---     ┆ ---          ┆ ---   ┆ ---          │
│ str     ┆ f64          ┆ u32   ┆ f64          │
╞═════════╪══════════════╪═══════╪══════════════╡
│ VVS2    ┆ 14142.177177 ┆ 666   ┆ 876.58       │
│ VVS1    ┆ 16845.680702 ┆ 285   ┆ 389.43       │
│ VS2     ┆ 11809.053333 ┆ 1575  ┆ 2170.81      │
│ VS1     ┆ 13694.113255 ┆ 1192  ┆ 1682.74      │
│ SI1     ┆ 8018.864012  ┆ 2059  ┆ 2563.69      │
│ IF      ┆ 22105.844749 ┆ 219   ┆ 316.0        │
│ FL      ┆ 63776.0      ┆ 4     ┆ 7.87         │
└─────────┴──────────────┴───────┴──────────────┘

### Question 9: "My luxury competitor claims they have the best prices for every cut-color combination. Show me our pricing structure across these combinations - I want to see where we're competitive."

In [ ]:
# Your code here:
result4 = df.group_by(["Cut", "Color"]).agg(
    pl.col("Price").mean().alias("avg_price"),
    pl.len().alias("count")
).sort(["Cut", "Color"])

result4.head(30)

shape: (30, 4)
┌───────────┬───────┬──────────────┬───────┐
│ Cut       ┆ Color ┆ avg_price    ┆ count │
│ ---       ┆ ---   ┆ ---          ┆ ---   │
│ str       ┆ str   ┆ f64          ┆ u32   │
╞═══════════╪═══════╪══════════════╪═══════╡
│ Fair      ┆ D     ┆ 6058.25      ┆ 12    │
│ Fair      ┆ E     ┆ 5370.625     ┆ 32    │
│ Fair      ┆ F     ┆ 6063.625     ┆ 24    │
│ Fair      ┆ G     ┆ 7345.52381   ┆ 21    │
│ Fair      ┆ H     ┆ 5908.5       ┆ 24    │
│ …         ┆ …     ┆ …            ┆ …     │
│ Very Good ┆ E     ┆ 12101.910217 ┆ 323   │
│ Very Good ┆ F     ┆ 12413.905495 ┆ 455   │
│ Very Good ┆ G     ┆ 12354.013841 ┆ 578   │
│ Very Good ┆ H     ┆ 10056.106132 ┆ 424   │
│ Very Good ┆ I     ┆ 8930.031332  ┆ 383   │
└───────────┴───────┴──────────────┴───────┘

**Reflection:** How specific is your analysis now? What level of detail does each row represent?

**Your answer:** New grain = The average price of each cut-color combination

### Question 10: URGENT - "Our biggest client is interested in purchasing entire inventory segments. They asked: 'Which color-cut combinations represent your highest total inventory value?' Show me the top 5 most valuable inventory segments by total worth, and include how many diamonds are in each segment."

This is critical for tomorrow's negotiation.

In [13]:
# Your code here:

result5 = df.group_by(["Cut", "Color"]).agg(
    pl.col("Price").mean().alias("avg_price"),
    pl.col("Price").sum().alias("total_value"),
    pl.len().alias("count"),

).sort("total_value", descending=True)

result5.head(5)

shape: (5, 5)
┌───────────┬───────┬──────────────┬─────────────┬───────┐
│ Cut       ┆ Color ┆ avg_price    ┆ total_value ┆ count │
│ ---       ┆ ---   ┆ ---          ┆ ---         ┆ ---   │
│ str       ┆ str   ┆ f64          ┆ i64         ┆ u32   │
╞═══════════╪═══════╪══════════════╪═════════════╪═══════╡
│ Ideal     ┆ G     ┆ 13570.310145 ┆ 9363514     ┆ 690   │
│ Very Good ┆ G     ┆ 12354.013841 ┆ 7140620     ┆ 578   │
│ Very Good ┆ F     ┆ 12413.905495 ┆ 5648327     ┆ 455   │
│ Ideal     ┆ F     ┆ 14729.426997 ┆ 5346782     ┆ 363   │
│ Ideal     ┆ H     ┆ 11527.700873 ┆ 5279687     ┆ 458   │
└───────────┴───────┴──────────────┴─────────────┴───────┘

## Debrief

Congratulations! You've just completed your first day as the diamond company's data analyst.

Remember:
- CEOs speak in business language, not technical terms
- Always understand what each row represents before analyzing
- Business questions contain clues about which operations to use